# Data Science Project

* Name: Author Name
* Email:

## TABLE OF CONTENTS


- **[Introduction](#INTRODUCTION)<br>**
- **[OBTAIN](#OBTAIN)**<br>
- **[SCRUB](#SCRUB)**<br>
- **[EXPLORE](#EXPLORE)**<br>
- **[MODEL](#MODEL)**<br>
- **[iNTERPRET](#iNTERPRET)**<br>
- **[Conclusions/Recommendations](#CONCLUSIONS-&-RECOMMENDATIONS)<br>**
___

# INTRODUCTION

> Explain the point of your project and what question you are trying to answer with your modeling.

# OBTAIN

In [1]:
import pandas as pd

In [3]:
'https://www.transtats.bts.gov/DL_SelectFields.asp?gnoyr_VQ=FGJ'
'https://www.transtats.bts.gov/Tables.asp?QO_VQ=EFD&QO_anzr=Nv4yv0r%FDb0-gvzr%FDcr4s14zn0pr%FDQn6n&QO_fu146_anzr=b0-gvzr'

'https://www.transtats.bts.gov/Tables.asp?QO_VQ=EFD&QO_anzr=Nv4yv0r%FDb0-gvzr%FDcr4s14zn0pr%FDQn6n&QO_fu146_anzr=b0-gvzr'

In [3]:
df.shape

(1402918, 26)

In [2]:
df = pd.read_csv('data/new_data 2.csv')
df

,MONTH,DAY_OF_WEEK,DEP_DEL15,DISTANCE_GROUP,DEP_BLOCK,SEGMENT_NUMBER,CONCURRENT_FLIGHTS,NUMBER_OF_SEATS,CARRIER_NAME,AIRPORT_FLIGHTS_MONTH,...,PLANE_AGE,DEPARTING_AIRPORT,LATITUDE,LONGITUDE,PREVIOUS_AIRPORT,PRCP,SNOW,SNWD,TMAX,AWND
0,1,1,0,1,MORNING,1,49,66,Mesa Airlines Inc.,5021,...,17,Raleigh-Durham International,35.875,-78.782,NONE,0.46,0.0,0.0,67.0,5.37
1,1,1,0,3,EARLY_MORNING,1,8,128,American Airlines Inc.,5021,...,19,Raleigh-Durham International,35.875,-78.782,NONE,0.46,0.0,0.0,67.0,5.37
2,1,1,0,2,MORNING,1,49,99,American Airlines Inc.,5021,...,11,Raleigh-Durham International,35.875,-78.782,NONE,0.46,0.0,0.0,67.0,5.37
3,1,1,0,1,EARLY_MORNING,1,8,99,American Airlines Inc.,5021,...,11,Raleigh-Durham International,35.875,-78.782,NONE,0.46,0.0,0.0,67.0,5.37
4,1,1,0,3,MORNING,1,49,143,Southwest Airlines Co.,5021,...,8,Raleigh-Durham International,35.875,-78.782,NONE,0.46,0.0,0.0,67.0,5.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1402913,3,1,0,1,AFTERNOON,8,17,123,Hawaiian Airlines Inc.,1258,...,18,Keahole,19.739,-156.046,Honolulu International,0.00,0.0,0.0,83.0,8.72
1402914,3,1,0,1,AFTERNOON,9,17,123,Hawaiian Airlines Inc.,1258,...,18,Keahole,19.739,-156.046,Honolulu International,0.00,0.0,0.0,83.0,8.72
1402915,3,1,0,1,AFTERNOON,10,17,123,Hawaiian Airlines Inc.,1258,...,15,Keahole,19.739,-156.046,Kahului Airport,0.00,0.0,0.0,83.0,8.72
1402916,3,1,0,1,EVENING,12,6,123,Hawaiian Airlines Inc.,1258,...,18,Keahole,19.739,-156.046,Honolulu International,0.00,0.0,0.0,83.0,8.72
1402917,3,1,0,1,EVENING,12,6,123,Hawaiian Airlines Inc.,1258,...,15,Keahole,19.739,-156.046,Honolulu International,0.00,0.0,0.0,83.0,8.72

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1402918 entries, 0 to 1402917
Data columns (total 26 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   MONTH                          1402918 non-null  int64
 1   DAY_OF_WEEK                    1402918 non-null  int64
 2   DEP_DEL15                      1402918 non-null  int64
 3   DISTANCE_GROUP                 1402918 non-null  int64
 4   DEP_BLOCK                      1402918 non-null  object
 5   SEGMENT_NUMBER                 1402918 non-null  int64
 6   CONCURRENT_FLIGHTS             1402918 non-null  int64
 7   NUMBER_OF_SEATS                1402918 non-null  int64
 8   CARRIER_NAME                   1402918 non-null  object
 9   AIRPORT_FLIGHTS_MONTH          1402918 non-null  int64
 10  AIRLINE_FLIGHTS_MONTH          1402918 non-null  int64
 11  AIRLINE_AIRPORT_FLIGHTS_MONTH  1402918 non-null  int64
 12  AVG_MONTHLY_PASS_AIRPORT       1402918 non-null  int64
 13  AVG_MONTHLY_PASS_AIRLINE       1402918 non-null  int64
 14  FLT_ATTENDANTS_PER_PASS        1402918 non-null  float64
 15  GROUND_SERV_PER_PASS           1402918 non-null  float64
 16  PLANE_AGE                      1402918 non-null  int64
 17  DEPARTING_AIRPORT              1402918 non-null  object
 18  LATITUDE                       1402918 non-null  float64
 19  LONGITUDE                      1402918 non-null  float64
 20  PREVIOUS_AIRPORT               1402918 non-null  object
 21  PRCP                           1402918 non-null  float64
 22  SNOW                           1402918 non-null  float64
 23  SNWD                           1402918 non-null  float64
 24  TMAX                           1402918 non-null  float64
 25  AWND                           1402918 non-null  float64
dtypes: float64(9), int64(13), object(4)
memory usage: 278.3+ MB

# SCRUB

# EXPLORE

# MODEL

# iNTERPRET

# CONCLUSIONS & RECOMMENDATIONS

> Summarize your conclusions and bullet-point your list of recommendations, which are based on your modeling results.

# TO DO/FUTURE WORK

-